*,
*::before,
*::after {
  box-sizing: border-box;
}
.logo {
  padding-left: 10px;
}
.topnav {
  margin-top: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  height: 60px;
  display: grid;
  grid-template-columns: auto 100px 100px 100px;
  grid-gap: 5px;
  box-shadow: black;
  position: fixed;
  background: rgb(128, 146, 137);
}
body {
  background: rgb(175, 214, 219);
  font-family: "poppins", sans-serif;
}
.nav-item {
  text-align: left;
  background: transparent;
}

button {
  color: white;
  width: 100px;
  height: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background: rgb(98, 100, 99);
}

.logo {
  margin: auto;
  margin-top: 5px;
  font-family: "Staatliches", cursive;
  font-size: 40px;
}

.intro {
  border-radius: 0% 0% 50% 50%;
  margin-top: 9em;
  margin-left: 10%;
  text-align: right;
}

.course-intro {
  color: rgb(79, 4, 102);
  margin-right: 20%;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0px;
  text-shadow: 4px 4px white;
}

.description {
  margin-right: 20%;
  font-family: "poppins", sans-serif;
  text-align: right;
}

.tutor-info {
  background-color: blanchedalmond;
  margin: auto;
  padding-top: 2em;
  padding-left: 10%;
  border-radius: 1em;

  position: relative;
  padding-bottom: 2em;
  border: 2px solid white;
  box-shadow: 3px 3px 5px rgb(88, 84, 84);
  max-width: 500px;
}

.tutor-img {
  top: 15px;
  left: 10px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 3px 3px 5px rgb(88, 84, 84);
}

.tutor-desc {
  font-family: "poppins", sans-serif;
  margin-left: 7em;
}

.seperation {
  height: 3px;
  width: 70%;
  margin-left: 13%;
  background-color: #999;
  margin-top: 3em;
  margin-bottom: 3em;
}

h2 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.twitter {
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.twitter:hover {
  box-shadow: 2px 2px 5px rgb(95, 90, 90);
}
/* .second {
  position: relative;
  height: 3px;
  width: 70%;
  margin-left: 13%;

  margin-top: 3em; */

.benefits {
  background-color: rgb(86, 43, 241);
  max-width: 500px;
  padding: 1em;
  border-radius: 1em;

  box-shadow: 4px 4px 5px rgb(88, 84, 84);
  border: 2px solid white;
  scale: 1;
}

.benefit-container {
  padding: 4em;
  display: grid;
  grid-template-columns: auto auto auto;

  grid-gap: 10px;
  background-color: whitesmoke;
  padding-top: 4em;
  border-radius: 50% 50% 10% 10%;
}

ul {
  color: white;
}
.benefit-par {
  color: white;
}

.purchase {
  background-color: rgb(133, 42, 218);
  border-radius: 0.5em;
  width: max-content;
  padding: 0.75em;
}
.purchase:hover {
  background-color: rgb(133, 42, 218);
  box-shadow: 3px 3px 5px rgb(104, 104, 96);
  transform: scale(1.05);
  transition: transform ease-in-out 200ms;
}

.benefits:hover {
  transform: scale(1.01);
  transition: transform ease-in-out 200ms;
}
.course {
  text-align: center;
  grid-area: "c";
  background-color: wheat;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
}
.coursepage {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.login-button {
  background-color: rgb(133, 42, 218);
  height: fit-content;
  width: fit-content;
}
input[type="text"],
input[type="password"] {
  outline: 0;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  height: 3em;
  font-family: "poppins", sans-serif;
  width: 90%;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  font-family: "poppins", sans-serif;
}

.course > p {
  margin-left: 10px;
}

a {
  background-color: rgb(133, 42, 218);
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
a:hover {
  box-shadow: 2px 2px 5px rgb(95, 90, 90);
}

.login-button,
.signup-button {
  background-color: rgb(32, 46, 172);
  padding: 14px;
  border-radius: 0.5em;
}
.login-button:hover,
.signup-button:hover {
  background-color: rgb(32, 46, 172);
  box-shadow: 2px 2px 4px rgb(104, 101, 101);
}

dialog {
  border: none;
  text-align: center;
  background-color: rgb(29, 175, 212);
  height: 50%;
  width: 45%;
  border-radius: 1em;
}

dialog::backdrop {
  background-color: rgb(70, 75, 75);
  opacity: 0.5;
}

.signupform {
  width: 50%;
  height: fit-content;
}

.login {
  height: fit-content;
}

.close-signup,
.close-login {
  opacity: 0.75;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: fit-content;
  height: fit-content;
  padding: 0.25em;
  padding-right: 0.25em;
  font-weight: 800;
  font-size: 20px;
}

.close-signup:hover,
.close-login:hover {
  background-color: transparent;
  color: rgb(70, 75, 75);
}
